<ng-template
#defaultTemplate
let-day="day"
let-openDay="openDay"
let-locale="locale"
let-tooltipPlacement="tooltipPlacement"
let-highlightDay="highlightDay"
let-unhighlightDay="unhighlightDay"
let-eventClicked="eventClicked"
let-tooltipTemplate="tooltipTemplate"
let-tooltipAppendToBody="tooltipAppendToBody"
>
<div class="bf-cal-cell">
    <div class="cal-cell-top">
      <span *ngIf="day.isWeekend"  class="cal-hide-week"> <a href="#" (click)="toggleWeekRow(rowIndex)">Hide week</a> </span>
      <span class="cal-day-number">{{day.date | calendarDate:'weekViewColumnSubHeader':locale}}</span>
    </div>
    <cv-calendar-month-meal-view bf-cell [day]="day"></cv-calendar-month-meal-view>
    <!-- <dialog-overview-example></dialog-overview-example> -->
</div>

<div class="cal-events" *ngIf="day.events.length > 0">
  <div
    class="cal-event"
    *ngFor="let event of day.events"
    [style.backgroundColor]="event.color.primary"
    [ngClass]="event?.cssClass"
    (mouseenter)="highlightDay.emit({event: event})"
    (mouseleave)="unhighlightDay.emit({event: event})"
    [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
    [tooltipPlacement]="tooltipPlacement"
    [tooltipEvent]="event"
    [tooltipTemplate]="tooltipTemplate"
    [tooltipAppendToBody]="tooltipAppendToBody"
    mwlDraggable
    [dropData]="{event: event}"
    [dragAxis]="{x: event.draggable, y: event.draggable}"
    (mwlClick)="onEventClick($event, event)">
  </div>
</div>
</ng-template>
<ng-template
[ngTemplateOutlet]="customTemplate || defaultTemplate"
[ngTemplateOutletContext]="{
  day: day,
  openDay: openDay,
  locale: locale,
  tooltipPlacement: tooltipPlacement,
  highlightDay: highlightDay,
  unhighlightDay: unhighlightDay,
  eventClicked: eventClicked,
  tooltipTemplate: tooltipTemplate,
  tooltipAppendToBody: tooltipAppendToBody
}">
</ng-template>
