<ng-template
#defaultTemplate
let-events="events"
let-eventClicked="eventClicked">
<div
  *ngFor="let event of events"
  [ngClass]="event?.cssClass"
  mwlDraggable
  [dropData]="{event: event}"
  [dragAxis]="{x: event.draggable, y: event.draggable}">
  <span
    class="cal-event"
    [style.backgroundColor]="event.color.primary">
  </span>
  <mwl-calendar-event-title
    [event]="event"
    [customTemplate]="eventTitleTemplate"
    view="month"
    (mwlClick)="eventClicked.emit({event: event})">
  </mwl-calendar-event-title>
  <mwl-calendar-event-actions [event]="event"></mwl-calendar-event-actions>
</div>
</ng-template>
<div class="cal-open-day-events" [@collapse] *ngIf="isOpen">
<ng-template
  [ngTemplateOutlet]="customTemplate || defaultTemplate"
  [ngTemplateOutletContext]="{
    events: events,
    eventClicked: eventClicked
  }">
</ng-template>
</div>
